<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		<File name="Logfile" fileName="logs/fbcmd4j.log" immediateFlush="true"
			append="true">
			<PatternLayout
				pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</File>
	</Appenders>
	<Loggers>
		<Root level="error"/>
		<Logger name="org.fbcmd4j.Main" level="info">
			<AppenderRef ref="Console" level="error"/>
			<AppenderRef ref="Logfile" />
		</Logger>
		<Logger name="org.fbcmd4j.Utils" level="info">
			<AppenderRef ref="Logfile" />
		</Logger>
	</Loggers>
</Configuration>